.top-navbar {
  height: 70px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  justify-content: space-between;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
  margin-left: 15rem;
}

.pos-button-container,
.welcome-text-container,
.profile-container {
  display: flex;
  align-items: center;
}

.pos-button {
  background-color: #007bff;
  color: white;
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s;
}

.pos-button:hover {
  background-color: #0056b3;
}

.welcome-text-container {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

.profile-container {
  position: relative;
  cursor: pointer;
}

.profile-icon {
  color: #555;
}

.navbar-dropdown {
  position: absolute;
  top: 70px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 220px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
  padding: 1rem;
}

.dropdown-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.dropdown-link:hover {
  color: #007bff;
}

.language-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}


 .selector-display {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  padding: 0.2rem 0;
}

.flag-icon {
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

.language-dropdown {
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f9f9f9;
}

.language-option {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.language-option:hover {
  background-color: #e0e7ff;
}

.logout-button {
  margin-top: 1rem;
  width: 100%;
  background-color: #007bff;
  border: none; 
  padding: 0.5rem;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #0056b3;
}
